.fsLightbox	div	{
}

form {
    margin: 0 !important;
    padding: 0 10% !important;
    width: 80% !important;
}

.enterform p {
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 50%;
}

.fieldlabel {
	display:none;
    color: #999;
    font-size: 14px;
    padding: 0 0 0 8px;
    text-align: left;
}

/*** custom checkboxes ***/

/*input[type=checkbox] { display:none; }  to hide the checkbox itself 
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}*/

 /*input[type=checkbox] + label:before { content: "\f096"; color:#0685ca; font-size:18px; float:left } unchecked icon */
/*input[type=checkbox] + label:before { letter-spacing: 10px;}  space between checkbox and label */

/*input[type=checkbox]:checked + label:before { content: "\f046"; }  checked icon */
/*input[type=checkbox]:checked + label:before { letter-spacing: 7px; }  allow space for check mark */

.fsPage	{
	background:#47BD5F !important;
}

.termslabel {
    float: left;
    font-size: 12px;
    width: 80%;
}

.fsError	ul{
	list-style:none;
}

.fieldset-content	{
	margin:0 0 20px;
	display: inline-block;
}

.fsSection	{
	background:#E3585A !important;
}

span.fsRequiredMarker	{
	display:none;
}

.fsValidationError .select2-container .select2-choice {
    border: 3px solid #cc0000 !important;
}

.overlaystyles	{
	background:#5FC755 !important;
	/* width:700px; */
	}

.enteroverlay	{
	opacity: 0.8 !important;
	z-index:999999999;
}

#fsRow1803072-1 {
    padding: 0 0 0 11%;
    text-align: center;
    width: 88%;
	margin: 0 0 35px;
	float:left;
}

#fsRow1803072-2 {
    padding: 0 0 0 11%;
    text-align: center;
    width: 88%;
	margin: 0 0 20px;
	float:left;
}

#fsRow1803072-3 {
    padding: 0 0 0 11%;
    text-align: center;
    width: 88%;
	margin: 0 0 35px;
	float:left;
}

#fsRow1803072-4 {
    padding: 0 0 0 11%;
    text-align: left;
    width: 88%;
}

#fsRow1803072-5 {
    margin: -32px 0 0 13%;
    text-align: left;
    width: 88%;
}

#fsSubmit1803072	{
    padding: 0;
    text-align: left;
    width: 100%;
}

#fsSubmit1803072	{
	text-align:left;
}

#label26998810	{
	width:91%;
	float:left;
}

#label26998810 .fsOptionLabel	{
	line-height:24px;
}

#fsSupporting26998246	{
	text-align:left !important;
	color:#999999 !important;
	margin:15px 0 0 12px;
}

#field26998810_1 {
    float: left;
    margin: 3px 7px 36px 0;
    padding: 0;
    position: relative;
    vertical-align: bottom;
}

#fsCell26998274	{
	margin:0 10px 0 0;
}

#fsCell26998264	{
	margin:0 10px 0 0;
}

#fsCell26998246	{
	margin:0 12px 0 0;
}

.fsBody .fsForm .fsCell {
    padding-bottom:0 !important;
	margin-bottom: 35px !important;
    padding-top: 0 !important;
}

#fsLightboxContent1803072	{
	
}

.fsLightboxHandle	{
	background:#D0585A !important;
}

.fsBody .fsForm {
	background:none !important;
	border:none !important;
	color:#FFFFFF;
}

.fsBody .fsForm .fsLabel, .fsBody .fsForm .fsOptionLabel, .fsBody .fsForm .fsMatrix th, .fsBody .fsForm .fsMatrixLabel {
	color:#FFFFFF !important;
}

.fsLightbox	{
	background:none !important;
	border:none !important;
}

div.fsFileUploadContainer {
    background-color: #efefef;
    padding: 6px;
    text-align: center;
    width: 180px;
}
input.fsFilePreview {
    max-height: 170px;
    max-width: 170px;
}
address, article, footer, header, nav {
    display: block;
}
.rtl .always-ltr {
    display: inline-block;
    margin-right: -8px;
}
.rtl .always-ltr > * {
    display: block;
    float: left;
    margin-top: 0;
}
.fsBody #fsTopLogo .reportAbuse {
    font-size: 10px;
    text-align: center;
}
.fsBody #fsTopLogo .reportAbuse a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #666;
    height: 16px;
}
.fsBody .warningNoJS {
    background-color: #fff;
    border: 1px solid red;
    color: red;
    padding: 20px;
}
#fsTopLogo {
    display: none;
    margin: 0;
    position: absolute;
    right: 9%;
    top: 0;
}
#fsTopLogo a {
    background: url("../../images/3/formstackLogo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 50px;
    width: 150px;
}
#fsTopLogo a span {
    display: none;
}
.fsBody {
    color: #000;
    font: 13px/1.4 "Helvetica Neue",Arial,"Lucida Grande",Tahoma,Verdana,sans-serif;
	background:none !important;

}
.fsBody .fsPage {
    min-width: 400px;
}
.fsEmbed .fsPage {
    min-width: inherit !important;
}
.fsBody .fsForm {
    background-color: #fff;
    border: 1px solid #ccc;
    display: table;
    margin: 18px auto;
}
.fsEmbed .fsForm {
    display: inherit;
}
.fsborderradius .fsBody .fsForm, .fsborderradius .fsBody .fsSectionHeader {
    border-radius: 4px;
}
.fsboxshadow .fsBody .fsForm {
    border: 0 none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -2px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}
.fsBody .fsForm .fsTable {
    border: 0 none;
    margin: 9px auto;
    padding: 0 0 4px;
    text-align: left;
    width: 100%;
}
.fsborderradius .fsBody .fsSectionHeader {
    margin: 10px;
}
.fsBody .fsSectionHeader {
    background-color: #ccc;
    clear: left;
    padding: 10px 15px 15px;
}
.fsBody .fsForm .fsSectionHeading {
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
}
.fsBody .fsRowBody {
    padding: 10px 15px;
}
.fsBody .fsHidden {
    display: none;
    margin: 0 !important;
    padding: 0 !important;
}
.fsBody .fsHiddenPage {
    display: none;
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
}
.fsHiddenByFieldSetting {
    display: none;
}
.fsForm fieldset, .fsForm fieldset legend {
    border: 0 none;
    margin: 0;
    padding: 0;
}
legend {
    white-space: normal;
}
div.fsSignature {
    border: 10px solid #efefef;
    border-radius: 14px;
    margin-top: 10px;
}
a.fsSignatureClear {
    font-size: 10px;
}
.fsForm.fsMaxCol1 {
    width: 700px;
}
.fsForm.fsMaxCol2 {
    width: 800px;
}
.fsForm.fsMaxCol3 {
    width: 900px;
}
.fsForm.fsMaxCol4 {
    width: 1100px;
}
.fsBody .fsFieldAddress {
    display: block;
}
.fsBody .fsFieldAddress2 {
    margin-bottom: 5px;
}
.fsBody div.fsFieldZip {
    width: 14%;
}
.fsBody .fsFieldRow {
    clear: left;
}
.fsBody .fs2Col {
    min-width: 600px;
}
.fsBody .fs3Col {
    min-width: 900px;
}
.fsBody .fs4Col {
    min-width: 1100px;
}
.fs2Col .fsFieldCell {
    float: left;
    width: 45%;
}

.fs2Col .fsFieldCell span {
    color: #999999;
    float: left;
    font-size: 12px;
    margin: 5px 0 0 8px;
    text-align: left;
}


.fs3Col .fsFieldCell {
    float: left;
    width: 30%;
}
.fs4Col .fsFieldCell {
    float: left;
    width: 22%;
}
.fsFirst.fsLast.fsFieldCell {
    float: none;
    width: auto;
}
.fsBody .fsLabel, .fsBody label {
    display: block;
    font-weight: 700;
    line-height: 19px;
}
.fsForm .fsLabel {
    font-size: 13px;
    width: 100%;
	display:none;
}
.fsForm .fsLabelHorizontal > label, .fsForm .fsLabelHorizontal > legend, .fsForm .fsLabelHorizontal > span.fsLabel, legend.fsLabelHorizontal {
    float: left;
    margin-right: 10px;
    width: 100px;
}
.fsLabelHorizontal.fsLabel {
    width: 110px;
}
.fsFieldHorizontal {
    float: left;
}
.fsBody .fsSubField {
    float: left;
    margin-right: 5px;
}
.fsBody .rtl .fsSubField {
    float: right;
    margin: 0 0 0 5px;
}
.fsBody .fsSupporting {
    color: #656565;
    display: block;
    float: none;
    font-size: 11px;
}
.fsBody .fsCallout {
    position: absolute;
    width: 360px;
    z-index: 5;
}
.fsBody .fsCalloutTop {
    background: url("../../images/3/calloutTop.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    padding-top: 21px;
}
.fsBody .fsCalloutBottom {
    background: url("../../images/3/calloutBottom.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 15px;
}
.fsBody .fsCalloutBody {
    background: url("../../images/3/calloutBody.png") repeat-y scroll left center rgba(0, 0, 0, 0);
    color: #fff;
    padding: 3px 12px 4px 16px;
    text-shadow: 0 1px 1px #000;
}
.fsBody .fsCalloutBody a {
    border-bottom: 1px dotted;
    color: #ddd;
    text-decoration: none;
}
.fsBody .fsCalloutBody a:hover {
    color: #aaa;
}
.fsBody .fsPasswordForm {
    padding-bottom: 15px;
    width: 400px;
}
.fsForm .fsSubmit {
    background: none !important;
    clear: left;
    margin-top: 10px;
    padding: 20px;
}
.fsborderradius .fsForm .fsSubmit {
    border-radius: 0 0 4px 4px;
}
.fsSubmit input.fsSubmitButton {
    clear: both;
    margin: 0 auto;
    padding: 3px;
	background: none repeat scroll 0 0 #da291c;
    border: medium none;
    color: #fff !important;
    font-weight: bold;
    padding: 15px 25px !important;
	cursor:pointer;
	display: inline-block;
	margin:15px auto 0;
	text-decoration:none;
}
.fsSubmit input.fsSubmitButton.nice:hover {
    opacity: 0.87;
}
.fsSubmit input.fsSubmitMultipage {
    clear: none;
    float: right;
}
.rtl .fsSubmit input.fsSubmitMultipage {
    clear: none;
    float: left;
}
#fsFooterImage {
    clear: both;
    padding-top: 20px;
}
.clear, .fs-clear {
    clear: both;
}
.fsBody .showMobile {
    display: none;
}
div.fsError {
    background: none !important;
    border: none !important;
    border-radius: 4px;
    clear: both;
    color: #e0260f !important;
    font-size: 14px;
    margin: 15px 10px 5px;
    padding: 10px;
    text-align: center;
}
#disabledError {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #efefef;
    color: #656565;
    line-height: 18px;
    margin: 54px auto;
    padding: 36px;
    width: 300px;
}
.fsPasswordForm label {
    color: #656565;
    display: block;
    font-size: 13px;
}
.fsPasswordForm .fsRowBody input {
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    text-align: center;
}
.fsPasswordForm td.fsRowBody {
    padding: 18px 0 24px;
}
#fsPasswordError {
    color: #d2010b;
    font-weight: 700;
    padding: 0;
    text-align: center;
}
.fsFieldFocused {
    background: none !important;
}
.fsFieldFocused div.fsSupporting {
    color: #000;
}
.fsReadOnly {
    background-image: none;
}
#fsConfirmAd table {
    margin: 36px auto;
    width: 100%;
}
#fsConfirmAd h2 {
    background: none repeat scroll 0 0 #42bd21;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #000;
}
#fsConfirmAd li {
    margin-bottom: 18px;
}
#fsConfirmAd img {
    min-width: 151px;
}
#fsConfirmAd img, #fsConfirmAd ul {
    margin: 18px;
}
#fsLearnMore {
    background: url("../../images/3/buttonBG.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333;
    display: block;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    margin: 18px auto;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    width: 155px;
}
.fsFieldRow input[type="email"], .fsFieldRow input[type="number"], .fsFieldRow input[type="tel"], .fsFieldRow input[type="text"], .fsForm textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    background-image: none !important;
    background-position: left top;
    background-repeat: repeat-x;
    border-color: #b1b1af !important;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    max-width: 93%;
    padding: 7px !important;
}
.fsReadOnly input[type="email"], .fsReadOnly input[type="number"], .fsReadOnly input[type="tel"], .fsReadOnly input[type="text"], .fsReadOnly textarea {
    background-image: none;
    border: 0 none;
}
.fsReadOnly input[type="number"] {
    -moz-appearance: textfield;
}
.fsForm input.fsField[type="email"]:focus, .fsForm input.fsField[type="file"]:focus, .fsForm input.fsField[type="number"]:focus, .fsForm input.fsField[type="tel"]:focus, .fsForm input.fsField[type="text"]:focus, .fsForm textarea.fsField:focus {
    border-color: # 666 !important;
}
.fsForm .fsReadOnly input.fsField[type="email"]:focus, .fsForm .fsReadOnly input.fsField[type="file"]:focus, .fsForm .fsReadOnly input.fsField[type="number"]:focus, .fsForm .fsReadOnly input.fsField[type="tel"]:focus, .fsForm .fsReadOnly input.fsField[type="text"]:focus, .fsForm .fsReadOnly textarea.fsField:focus {
    border: 0 none;
}
.fsFieldRow input[type="checkbox"], .fsFieldRow input[type="radio"] {
    float: left;
    margin: 3px 7px 0 0;
    padding: 0;
    position: relative;
    vertical-align: bottom;
}
.rtl .fsFieldRow input[type="checkbox"], .rtl .fsFieldRow input[type="radio"] {
    float: right;
    margin: 3px 0 0 7px;
}
.fsFieldRow input.vertical[type="checkbox"], .fsFieldRow input.vertical[type="radio"] {
    clear: left;
    float: left;
    height: 13px;
    margin: 0 7px 0 0;
    padding: 0;
    position: relative;
    top: 3px;
    vertical-align: bottom;
    width: 13px;
}
.rtl .fsFieldRow input.vertical[type="checkbox"], .rtl .fsFieldRow input.vertical[type="radio"] {
    clear: right;
    float: right;
    margin: 0 0 0 7px;
}
.fsBody .fsLabelHorizontal .fieldset-content label {
    width: 250px;
}
.fsBody .fsLabelHorizontal .fieldset-content label.horizontal {
    width: auto;
}
.fsBody .fsLabelHoriztonal .fieldset-content .clear label {
    width: 100px;
}
label.fsOptionLabel {
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px !important;
    margin: 0 0 30px !important;
    width: 82%;
}
.fsOptionLabel.horizontal {
    float: left;
    margin: 0 20px 0 0;
}
.rtl .fsOptionLabel.horizontal {
    float: right;
    margin: 0 0 0 20px;
}
.fsLabelVertical .fsSupporting {
    clear: left;
}
.fsSupporting {
    max-width: 100%;
}
.fsForm select {
    font-size: 14px !important;
    line-height: 18px !important;
	padding:6px;
	color:#757575 !important;
	font-weight:600;
	
}
.fsRequiredMarker {
    color: #ba0000;
    float: none;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 700;
    padding-left: 2px;
}
.fsSupporting.fsRequiredLabel span {
    font-size: inherit;
    height: inherit;
}
.hidden {
    height: 0.1em;
    left: -999em;
    overflow: hidden;
    position: absolute;
    width: 0.1em;
}
.fsPagination {
    margin: 25px 0;
    text-align: center;
}
.fsPagination .fsNextButton {
    float: right;
}
.fsPagination .fsPreviousButton, .rtl .fsPagination .fsNextButton {
    float: left;
}
.rtl .fsPagination .fsPreviousButton {
    float: right;
}
.fsPagination button, .fsPagination input {
    font-size: 16px;
}
.fsValidationError {
    background: none !important;
}

.fsValidationError #field26998274, 
.fsValidationError #field26998258, 
.fsValidationError #field26998264, 
.fsValidationError #field26998246, 
.fsValidationError #field26998249, 
.fsValidationError #field26998275{
    border: 3px solid #e0260f !important;
}	

.fsValidationError .fsLabel {
    background-image: url("../../images/3/validationAlert.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #ba0000;
    padding-left: 20px;
}
.fsCounter {
    color: #656565;
    font-family: Georgia,Serif;
    font-size: 18px;
    position: absolute;
    text-align: right;
}
.fsCaptcha {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #333;
    margin: 0 auto 30px;
    padding: 3px;
    text-align: center;
    width: 205px;
}
.captchaAudioLink img, .captchaReloadLink img {
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
}
.captchaEntry {
    margin-top: 5px;
}
.captchaError label {
    color: red;
    font-weight: 700;
}
.captchaError .captchaEntry {
    background: none !important;
}
.recaptchatable img:hover {
    box-shadow: 0 0 0 1px red;
}
.fsResumeLink {
    font-size: 14px;
    font-weight: 700;
}
div.fsProgress {
    border: 1px solid #ccc;
    margin: 9px auto;
    width: 100px;
}
div.fsProgressBarContainer {
    background: none repeat scroll 0 0 #f4f4f4;
    border: 1px solid #ddd;
    height: 10px;
    margin: 1px;
    position: relative;
    text-align: left;
    width: 96%;
}
div.fsProgressBar {
    background: none repeat scroll 0 0 #888;
    height: 10px;
    width: 0;
}
div.fsProgressText {
    color: #555;
    font-size: 9px;
    line-height: 10px;
    margin-top: -10px;
    padding-bottom: 2px;
    text-align: center;
    width: 96%;
    z-index: 10;
}
div.fsSaveIncomplete {
    background-color: #ccc;
    box-shadow: 0 0 3px 1px #999 inset;
    clear: left;
    margin-bottom: -10px;
    padding: 4px 20px 8px;
    text-align: center;
}
.fsSaveIncomplete a {
    color: #444;
    font-size: 13px;
}
.fsSaveIncomplete a:visited {
    color: #656565;
}
.fsSaveIncomplete a:hover {
    color: #000;
}
#fsSubmissionCheckmark {
    background: url("../../images/3/confirmationCheckmark.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 68px;
    width: 75px;
}
.fsBlankSection {
    display: none;
}
.fsMatrix {
    border-collapse: collapse;
    font-size: 11px;
    margin: 6px 0;
    width: 100%;
}
.fsMatrix td, .fsMatrix th {
    border-bottom: 1px dotted #ccc;
    font-weight: 400;
    padding: 4px 0;
    text-align: center;
}
.fsMatrix th.fsMatrixLabel {
    padding-right: 8px;
    text-align: left;
}
.rtl .fsMatrix th.fsMatrixLabel {
    padding-left: 8px;
    text-align: right;
}
.fsMatrixCol1, .fsMatrixCol2 {
    border-bottom: 1px dotted #ccc;
    font-weight: 400;
    padding: 4px 0;
    text-align: center;
    width: 15%;
}
.fsMatrixCol1 input[type="checkbox"], .fsMatrixCol1 input[type="radio"], .fsMatrixCol2 input[type="checkbox"], .fsMatrixCol2 input[type="radio"] {
    float: none;
}
.fsMatrixCol1 {
    background: url("../../images/3/black_translucent.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fsMatrixCol2, .fsMatrixLabel {
    background: url("../../images/3/white_translucent.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fsCurrency {
    color: #555;
    font-size: 16px;
}
.fsSliderBg {
    background: url("../../images/3/slider-bg.gif") no-repeat scroll 5px 0 rgba(0, 0, 0, 0);
    float: left;
    height: 28px;
    position: relative;
    width: 108px;
}
.fsSliderDiv {
    float: left;
    height: 28px;
    margin-top: 9px;
    position: relative;
    width: 108px;
}
.fsSliderBg .fsSliderThumb {
    cursor: default;
    position: absolute;
    top: 4px;
}
div.fsSliderValue {
    background-color: #f7f7f7;
    color: #333;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
    padding: 5px;
}
input.fsFormatCreditCard {
    margin-right: 10px;
}
img.fsCreditCardLogo {
    border: 1px solid #777;
    vertical-align: top;
}
.discountcodeMsg {
    display: block;
    font-size: x-small;
    font-style: italic;
}
#recaptcha_area {
    margin-left: auto;
    margin-right: auto;
}
#mobile-alert p {
    text-align: center !important;
    width: 100%;
}
#mobile-alert input[type="submit"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
span.fsSlim {
    display: none;
}
span.fsFull {
    display: inherit;
}
.fsNextButton span.fsFull:after {
    content: " »";
}
.fsPreviousButton span.fsFull:before {
    content: "« ";
}
.fsMatrixColCount1 {
    width: 100%;
}
.fsMatrixColCount2 {
    width: 50%;
}
.fsMatrixColCount3 {
    width: 33%;
}
.fsMatrixColCount4 {
    width: 25%;
}
.fsMatrixColCount5 {
    width: 20%;
}
.fsMatrixColCount6 {
    width: 16%;
}
.fsMatrixColCount7 {
    width: 14%;
}
.fsMatrixColCount8 {
    width: 12.5%;
}
.fsMatrixColCount9 {
    width: 11%;
}
.fsMatrixColCount10 {
    width: 10%;
}
.fsMatrixColCount11 {
    width: 9%;
}
.fsMatrixColCount12 {
    width: 8%;
}
.fsMatrixColCount13 {
    width: 7.5%;
}
.fsMatrixColCount14 {
    width: 7%;
}
.fsMatrixColCount15 {
    width: 6.5%;
}
.fsFieldCell.fsSpan100 {
    width: 100%;
}
.fsFieldCell.fsSpan75 {
    width: 72%;
}
.fsFieldCell.fsSpan66 {
    width: 63%;
}

.fsFieldCell.fsSpan33 {
    width: 30%;
}
.fsFieldCell.fsSpan25 {
    width: 22%;
}
.ui-datepicker-trigger {
    height: 18px;
    width: 18px;
}
.fsSpan100 .fsProductField__image-container {
    float: left;
    width: 10%;
}
.fsSpan50 .fsProductField__image-container {
    float: left;
    width: 25%;
}
.fsProductField__image {
    border-radius: 5px;
    width: 100%;
}
.fsSpan100 .fsProductField__image, .fsSpan50 .fsProductField__image {
    width: 90%;
}
.fsSpan100 .fsProductField__info, .fsSpan50 .fsProductField__info {
    float: left;
    width: 75%;
}
.rtl .fsSpan100 .fsProductField__info, .rtl .fsSpan50 .fsProductField__info {
    float: right;
}
.fsSpan100 .fsProductField__info--no-image {
    margin-left: 0;
    width: 85%;
}
.fsSpan50 .fsProductField__info--no-image {
    width: 100%;
}
.fsProductField__info__name {
    font-size: 16px;
    font-weight: 700;
}
.fsBody .fsProductField__info__description {
    color: #777;
    line-height: 15px;
    margin-top: 5px;
    text-align: justify;
}
.fsProductField__fields {
    margin-top: 10px;
    text-align: right;
}
.fsSpan100 .fsProductField__fields {
    float: right;
    margin: 0;
    width: 15%;
}
.rtl .fsProductField__fields {
    float: left;
    text-align: left;
}
.fsBody .fsProductField__fields__fixed-amount {
    color: #42aa44;
    font-size: 16px;
    margin-top: 25px;
}
.fsBody .fsProductField__fields__quantity {
    margin-top: 5px;
}
.fsBody .fsProductField__fields__quantity select {
    width: 70px;
}
.fsBody .fsProductField__fields__any-amount {
    margin-top: 29px;
}
.fsBody .fsProductField__fields__any-amount input {
    width: 61px;
}
.fsBody .fsProductField__fields__no-charge {
    color: #1c93c6;
    font-size: 16px;
    margin-top: 25px;
}
.fsBody .fsProductField__fields__sold-out {
    color: #e30000;
    font-size: 14px;
    margin-top: 4px;
}
.fsBody .fsProductField__wait-list {
    margin-top: 10px;
    text-align: right;
}
.fsBody .fsProductField__wait-list label {
    font-weight: 400;
}
.fsBody .fsProductField__wait-list input[type="checkbox"] {
    float: none;
    vertical-align: top;
}
@media all and (max-width: 699px), all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait), all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
span.fsSlim {
    display: inherit;
}
span.fsFull {
    display: none;
}
.fsBody .showMobile {
    display: inherit;
}
.fsBody .hideMobile {
    display: none;
}
.fsBody {
    margin-bottom: 80px;
}
.fsBody .fsForm, .fsBody .fsPage {
    min-width: inherit;
    width: 100%;
}
.fsBody .fs1Col .fsFieldCell, .fsBody .fs2Col .fsFieldCell, .fsBody .fs3Col .fsFieldCell, .fsBody .fs4Col .fsFieldCell {
    width: auto;
}
.fsBody .fsFieldRow input[type="email"], .fsBody .fsFieldRow input[type="number"], .fsBody .fsFieldRow input[type="tel"], .fsBody .fsFieldRow input[type="text"], .fsBody .fsForm textarea {
    width: 85%;
}
.fsBody .fsForm {
    display: block;
    margin: 0;
    padding: 1px 0 10px;
    width: 100%;
}
.fsborderradius .fsForm .fsSubmit {
    border-radius: 0;
}
.fsBody .fs2Col, .fsBody .fs3Col, .fsBody .fs4Col {
    min-width: inherit;
}
div.fsProgress {
    width: 65px;
}
div.fsProgressBarContainer, div.fsProgressText {
    width: 95%;
}
.fsPagination .fsNextButton {
    background: url("../../images/3/mobileNext.png") no-repeat scroll center top transparent !important;
    border: 0 none;
    cursor: pointer;
    height: 37px;
    margin: 0 15px 0 0;
    padding: 0;
    text-indent: -1000em;
    width: 69px;
}
.fsPagination .fsPreviousButton {
    background: url("../../images/3/mobilePrev.png") no-repeat scroll center top transparent !important;
    border: 0 none;
    cursor: pointer;
    height: 37px;
    margin: 0 0 0 15px;
    padding: 0;
    text-indent: -1000em;
    width: 69px;
}
.fsSubmit input.fsSubmitMultipage {
    margin-right: 15px;
}
.fsBody .fsPasswordForm {
    width: 100%;
}


@media (min-width: 768px) and (max-width: 1023px) {
	.enterform p {
		width:56%;
	}
}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait), all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
.fsBody .fsFieldRow input[type="email"], .fsBody .fsFieldRow input[type="number"], .fsBody .fsFieldRow input[type="tel"], .fsBody .fsFieldRow input[type="text"], .fsBody .fsForm textarea {
    font-size: 160%;
    padding: 16px;
}
.fsSubField {
    width: 49%;
}
.fsSubField.fsFieldCity, .fsSubField.fsFieldState, .fsSubField.fsFieldZip {
    width: inherit;
}
.fsSubField.fsFieldCity {
    margin-right: 15px;
    width: 49%;
}
.fsSubField.fsFieldState {
    margin-right: 20px;
}
.fsFieldName {
    width: 85% !important;
}
.fsLabel {
    font-size: 150% !important;
}
.fsSupporting {
    font-size: 125% !important;
}
.fsOptionLabel {
    font-size: 150%;
    line-height: 30px !important;
    min-width: 4em;
}
input[type="checkbox"], input[type="radio"] {
    height: 25px !important;
    width: 25px !important;
}
input[type="radio"] {
    border-radius: 50px;
}
select {
    height: 30px !important;
}
th.fsMatrixCol1, th.fsMatrixCol2 {
    border-radius: 4px 4px 0 0;
    font-size: 150%;
    font-weight: 700;
    line-height: 110%;
    padding: 10px;
}
.fsMatrixLabel {
    font-size: 150%;
    line-height: 110%;
    padding: 10px 0 !important;
}
.fsMatrix {
    margin-top: 15px !important;
}
}
@media (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
.fsSubField.fsFieldCity {
    margin-right: 5px;
    width: 57%;
}
}
@media only screen and (max-width: 1024px) {
/*img {
    height: auto;
    max-width: 100%;
}*/
}
@media (max-width: 40em) {
.fsBody, body {
}
.fsRow.fsFieldRow.fsLastRow {
    margin-bottom: 1em;
}
.fsBody .fsProductField__info__description {
    text-align: left;
}
.fsboxshadow .fsBody .fsForm {
    box-shadow: none;
}
.fsForm .fsLabel {
    margin-bottom: 0.75em;
	display:none;
}
.fsSubField {
    width: 100%;
}
.fsFieldRow input[type="text"] {
    display: block;
    font-size: 1.5em;
    width: 100% !important;
}
label.fsOptionLabel {
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0px, rgba(228, 228, 228, 0.5) 100%) repeat scroll 0 0 #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    font-weight: 400;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em 1em;
}
.fsBody .fsProductField__info {
    float: left;
    margin: 0 0 0 4%;
    width: 62%;
}
.fsBody .fsProductField__image {
    float: left;
    height: 33%;
    margin-right: 0;
    width: 33%;
}
.fsBody .fsProductField__fields {
    background: none repeat scroll 0 0 #ecf2e1;
    margin-top: 1em;
    padding: 0.6em 1em;
    text-align: left;
    width: 93%;
}
.fsBody .fsProductField__fields__fixed-amount {
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-right: 1em;
    margin-top: 2px;
}
.fsBody .fsProductField__fields__quantity {
    float: left;
    font-size: 1.1em;
    margin-top: 2px;
}
div.fsSubField.fsFieldState {
    margin: 0.5em 0.5em 0 0;
    width: 70%;
}
}
.fsSocialAutofill {
    margin: 15px 15px 0;
}
.fsSocialAutofill .fsLabel {
    float: left;
    font-size: 1em;
    line-height: 2em;
    width: auto;
}
.fsSocialAutofill--icons {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    line-height: 36px;
    padding-bottom: 5px;
}
.fsSocialAutofill--icons a {
    float: right;
    font-size: 42px;
    margin-left: 10px;
    opacity: 0.8;
}
.fsSocialAutofill--icons a:hover {
    opacity: 1;
}
.fsSocialAutofill--buttons a {
    background-image: linear-gradient(-179deg, #fff 0px, #e0e0e0 100%);
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    font-weight: 500;
    margin: 0.5em 0;
    padding: 0.4em 1em;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}
.fsSocialAutofill--buttons a:hover {
    background-image: linear-gradient(-179deg, #fff 0px, #efefef 100%);
    border: 1px solid #afafaf;
}
.fsSocialAutofill--buttons a span {
    display: inline-block;
    padding-left: 2em;
}
.fsSocialAutofill--buttons .fsLabel {
    font-size: 13px;
    line-height: 1.4;
    width: auto;
}
.fsSocialAutofill--buttons .facebook_autofill span {
    background: url("../../images/icon-facebook.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fsSocialAutofill--buttons .googleplus_autofill span {
    background: url("../../images/icon-googleplus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fsSocialAutofill--buttons .linkedin_autofill span {
    background: url("../../images/icon-linkedin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fsSocialAutofill--buttons .twitter_autofill span {
    background: url("../../images/icon-twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

@media (max-width: 767px) {
	
	form {
		margin: 0 !important;
		padding: 0 5% !important;
		width: 90% !important;
	}
	
	.fieldset-content {
		display: inline-block;
		margin: 0 0 20px 12%;
		width: 100%;
	}
	
	.enterform h1 {
		color: #0685ca;
		margin: 0 0 20px;
	}

	.fsBody .fs2Col {
		min-width: 300px !important;
		width:100% !important;
	}
	
	.fsFieldCell.fsSpan50 {
		width: 90% !important;
	}
	
	.fsRow.fsFieldRow.fsLastRow {
		width:98% !important;
	}
	
	#fsRow1803072-1 {
    padding: 0;
	text-align: center;
	width: 100%;
	}
	
	#fsRow1803072-2 {
		padding: 0;
		text-align: center;
		width: 100%;
	}
	
	#fsRow1803072-3 {
		padding: 0;
		text-align: center;
		width: 100%;
	}
	
	#fsRow1803072-4 {
		float: left;
		margin: 25px 0 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	
	#fsRow1803072-5 {
		margin: 0 0 0 12%;
		text-align: left;
		width: 88%;
	}
	
	#fsSubmit1803072 {
		padding: 0 0 0 6%;
		text-align: left;
		width: 88%;
	}
	
	#label26998810	{
		width:91%;
	}
	
	#label26998810 .fsOptionLabel	{
		line-height:24px;
		background:none;
	}
	
	#field26998810_1 {
		float: left;
		margin: 3px 7px 130px 0;
		padding: 0;
		position: relative;
		vertical-align: bottom;
	}
	
	.fsBody .fsForm .fsCell {
		margin-bottom: 20px !important;
		padding-bottom: 0 !important;
		padding-top: 0 !important;
		width: 100% !important;
	}
	
	#fsCell27017046 {
		padding: 0 5%;
		width: 90% !important;
	}
	
	#fsCell26998810	{
		width:100% !important;
		text-align: left;
	}
	
	.fsBody .fsFieldRow input[type="email"], .fsBody .fsFieldRow input[type="number"], .fsBody .fsFieldRow input[type="tel"], .fsBody .fsFieldRow input[type="text"], .fsBody .fsForm textarea {
    	width: 100%;
	}
	
	.enterform p {
		width: 100%;
		margin:20px 0 0 0;
	}
	
	.fsFieldRow input[type="text"] {
		display: block;
		font-size: 16px;
		width: 100% !important;
	}
	
	.fsBody .fsForm input.fsField[type="text"], .fsBody .fsForm input.fsField[type="file"], .fsBody .fsForm input.fsField[type="number"], .fsBody .fsForm input.fsField[type="email"], .fsBody .fsForm input.fsField[type="tel"], .fsBody .fsForm textarea.fsField, .fsBody .fsForm select.fsField {
		background-color: #ffffff;
		border-color: #eeeeee;
		color: #000000;
		width: 100%;
	}
	
	#fsRow1803072-1 {
    padding: 0 0 0 11%;
    text-align: center;
    width: 88%;
	margin: 0;
	float:left;
}

.fsFieldRow input[type="text"] {
    display: block;
    font-size: 16px;
    margin: 0 0 20px;
    width: 100% !important;
}

#field26998264	{
	display: block;
    font-size: 16px;
    margin: 0 0 20px;
    width: 100% !important;
}

#field26998249	{
	display: block;
    font-size: 16px;
    margin: 0;
    width: 100% !important;
}


#field26998246	{
	margin: 0;
}

.fs2Col .fsFieldCell span {
    color: #999999;
    float: left;
    font-size: 12px;
    margin: 5px 0 20px 8px;
    text-align: left;
}

#fsRow1803072-2 {
    padding: 0 0 0 11%;
    text-align: center;
    width: 88%;
	margin: 0;
	float:left;
}

#fsRow1803072-3 {
    padding: 0 0 0 11%;
    text-align: center;
    width: 88%;
	margin: 0;
	float:left;
}
}
